* {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

body {
  background: var(--background);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  transition: background 0s;
}

img {
  width: 100%;
  height: 100%;
}

main {
  width: 90%;
  max-width: 1135px;
  margin: 0 auto;
  padding: 4rem 0 3rem;
}

#app {
  min-height: 100vh;
}

/* 渐隐淡入动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
