/* Card 基础样式 */
.mainCard {
  color: var(--text-color);
  & .card {
    background: var(--card-background);
    padding: 0.8rem;
    margin-bottom: 1rem;
    min-height: 65px;
    border-radius: 16px;
    border: 3px solid var(--card-border-color);

    & p {
      margin: 0.4rem 0;
    }

    & h3 {
      margin: 0.8rem 0 0.5rem 0;
    }

    & .cardHeader {
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }
  }

  & .hover {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  & .header {
    display: flex;
    align-items: center;

    & .avatar {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      border: 0.5rem solid var(--card-border-color);
      margin-right: 1rem;
      position: relative;

      & img {
        border-radius: 50%;
      }

      &::before {
        content: attr(emjoi);
        position: absolute;
        bottom: 0;
        right: 0;
        background: var(--card-border-color);
        border-radius: 50%;
        border: 0.3rem solid var(--card-border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 1.5rem;
        height: 1.5rem;
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      &:hover::before {
        transform: scale(1.2);
      }
    }

    & .sayHi {
      display: flex;
      flex-direction: column;

      & h1 {
        font-size: 2.5rem;
        margin: 0 0 0.5rem 0;
      }

      & .name {
        position: relative;
        color: rgba(0, 0, 0, 0.1);

        &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          color: var(--theme-color);
          width: 0;
          white-space: nowrap;
          filter: drop-shadow(0 0 5px var(--theme-color));
          overflow: hidden;
          animation: showName 3s ease-in-out infinite;
          border-right: 4px solid var(--theme-color);
          z-index: 10;
        }
      }

      & .infoTags {
        display: flex;
        margin-top: 1rem;

        & .tag {
          cursor: default;
          padding: 0.4rem;
          margin-right: 0.4rem;
          background: var(--card-background);
          border-radius: 8px;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          gap: 0.3rem;

          & .boy {
            color: #33a9dc;
          }

          & .girl {
            color: #ff5e7e;
          }
        }
      }
    }
  }

  & .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & .leftBox {
      width: 33%;

      & .todoList {
        margin-top: 0.5rem;
        height: 9rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.3rem;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(135, 206, 235, 0.3);
          border-radius: 3px;
        }

        &:hover::-webkit-scrollbar {
          width: 0.5rem;
        }

        &:hover::-webkit-scrollbar-thumb {
          background: var(--theme-color);
          border-radius: 6px;
        }

        & .todoItem {
          display: flex;
          align-items: center;
          margin: 0.8rem 0;
          padding-bottom: 0.2rem;
          border-bottom: 2px var(--text-color) dashed;

          & span {
            margin-left: 0.5rem;
          }
        }
      }
    }

    & .rightBox {
      width: 66%;

      & .zodiac::before {
        background: #bc8cff;
      }

      & .typew {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        padding: 20px 16px;

        & svg {
          margin: 0 0.5rem;
        }
      }
    }
  }

  & .footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    & img {
      width: 20px !important;
      height: 20px !important;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

@keyframes showName {
  0% {
    width: 0;
  }

  50% {
    width: 105%;
  }

  100% {
    width: 0;
  }
}

@media (max-width: 768px) {
  .mainCard {
    padding-bottom: 3rem;

    & .header {
      & .avatar {
        width: 6rem;
        height: 6rem;
        border-width: 0.4rem;
      }

      & .sayHi {
        & h1 {
          font-size: 2.2rem;
        }
      }
    }

    & .content {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;

      & .leftBox,
      & .rightBox {
        width: 100%;
      }
    }

    & .footer {
      white-space: nowrap;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  main {
    width: 95%;
    padding: 2rem 0 1rem;
  }

  .mainCard {
    & .header {
      & .avatar {
        width: 4.5rem;
        height: 4.5rem;
        border-width: 0.3rem;
      }

      & .sayHi {
        & h1 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
